#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: .7rem;
}